## TP N°4 de Bases de Données
Accès aux données avec Python et construction d'un schéma en étoile

In [1]:
import sqlite3
import pandas as pd

### Question 1

In [2]:
db = "TP_python_sqlite.db" #Avoir le base de donnée au même endroit que le notebook
conn = sqlite3.connect(db)

### Question 2

In [3]:
#Solution avec le fetchall

cur = conn.cursor()
cur.execute("SELECT * FROM MAGASIN")
results_all = cur.fetchall()
print(results_all)

[('Store No. 1', '999 Main Street', 'New York', 'New York', 'NY', 'Jones', 'Modern'), ('Store No. 2', '73 Main Street', 'Chicago', 'Cook', 'IL', 'Smith', 'Original'), ('Store No. 3', '1 Main Street', 'Atlanta', 'Fulton', 'GA', 'Davis', 'Compact'), ('Store No. 4', '575 Main Street', 'Los Angeles', 'Los Angeles', 'CA', 'Johnson', 'Modern'), ('Store No. 5', '123 Main Street', 'San Francisco', 'San Francisco', 'CA', 'Green', 'Original'), ('Store No. 6', '353 Main Street', 'Philadelphia', 'Philadelphia', 'PA', 'Brown', 'Compact'), ('Store No. 7', '839 Main Street', 'Pittsburgh', 'Allegheny', 'PA', 'White', 'Modern'), ('Store No. 8', '651 Main Street', 'New Orleans', 'Orleans', 'LA', 'Williams', 'Original'), ('Store No. 9', '912 Main Street', 'Seattle', 'King', 'WA', 'Stuber', 'Compact'), ('Store No. 10', '752 Main Street', 'Dallas', 'Dallas', 'TX', 'Merz', 'Modern'), ('Store No. 11', '55 Main Street', 'Cincinnati', 'Hamilton', 'OH', 'Erickson', 'Original'), ('Store No. 12', '546 Main Street', 'Minneapolis', 'Hennepin', 'MN', 'Kalman', 'Compact'), ('Store No. 14', '968 Main Street', 'Phoenix', 'Maricopa', 'AZ', 'Strehlo', 'Original'), ('Store No. 15', '228 Main Street', 'Denver', 'Denver', 'CO', 'Ollom', 'Compact'), ('Store No. 16', '333 Main Street', 'St. Louis', 'St. Louis', 'MO', 'Mantle', 'Modern'), ('Store No. 17', '764 Main Street', 'Washington', 'DC', 'DC', 'Mays', 'Original'), ('Store No. 18', '253 Main Street', 'Miami', 'Dade', 'FL', 'Maris', 'Compact'), ('Store No. 19', '999 Main Street', 'Boston', 'Suffolk', 'MA', 'Ruth', 'Modern'), ('Store No. 20', '160 Main Street', 'Nashville', 'Davidson', 'TN', 'Cobb', 'Original')]

In [4]:
#Solution avec fetchone

cur = conn.cursor()
cur.execute("SELECT * FROM MAGASIN")
while True:
    results_one = cur.fetchone()
    if results_one == None:
        break
    else:
        print(results_one)

('Store No. 1', '999 Main Street', 'New York', 'New York', 'NY', 'Jones', 'Modern')
('Store No. 2', '73 Main Street', 'Chicago', 'Cook', 'IL', 'Smith', 'Original')
('Store No. 3', '1 Main Street', 'Atlanta', 'Fulton', 'GA', 'Davis', 'Compact')
('Store No. 4', '575 Main Street', 'Los Angeles', 'Los Angeles', 'CA', 'Johnson', 'Modern')
('Store No. 5', '123 Main Street', 'San Francisco', 'San Francisco', 'CA', 'Green', 'Original')
('Store No. 6', '353 Main Street', 'Philadelphia', 'Philadelphia', 'PA', 'Brown', 'Compact')
('Store No. 7', '839 Main Street', 'Pittsburgh', 'Allegheny', 'PA', 'White', 'Modern')
('Store No. 8', '651 Main Street', 'New Orleans', 'Orleans', 'LA', 'Williams', 'Original')
('Store No. 9', '912 Main Street', 'Seattle', 'King', 'WA', 'Stuber', 'Compact')
('Store No. 10', '752 Main Street', 'Dallas', 'Dallas', 'TX', 'Merz', 'Modern')
('Store No. 11', '55 Main Street', 'Cincinnati', 'Hamilton', 'OH', 'Erickson', 'Original')
('Store No. 12', '546 Main Street', 'Minneapolis', 'Hennepin', 'MN', 'Kalman', 'Compact')
('Store No. 14', '968 Main Street', 'Phoenix', 'Maricopa', 'AZ', 'Strehlo', 'Original')
('Store No. 15', '228 Main Street', 'Denver', 'Denver', 'CO', 'Ollom', 'Compact')
('Store No. 16', '333 Main Street', 'St. Louis', 'St. Louis', 'MO', 'Mantle', 'Modern')
('Store No. 17', '764 Main Street', 'Washington', 'DC', 'DC', 'Mays', 'Original')
('Store No. 18', '253 Main Street', 'Miami', 'Dade', 'FL', 'Maris', 'Compact')
('Store No. 19', '999 Main Street', 'Boston', 'Suffolk', 'MA', 'Ruth', 'Modern')
('Store No. 20', '160 Main Street', 'Nashville', 'Davidson', 'TN', 'Cobb', 'Original')

### Question 3

In [5]:
df = pd.read_sql_query("SELECT * FROM MAGASIN", conn)
df

,NOM,ADRESSE,VILLE,COMTE,ETAT,MANAGER,TYPE
0,Store No. 1,999 Main Street,New York,New York,NY,Jones,Modern
1,Store No. 2,73 Main Street,Chicago,Cook,IL,Smith,Original
2,Store No. 3,1 Main Street,Atlanta,Fulton,GA,Davis,Compact
3,Store No. 4,575 Main Street,Los Angeles,Los Angeles,CA,Johnson,Modern
4,Store No. 5,123 Main Street,San Francisco,San Francisco,CA,Green,Original
5,Store No. 6,353 Main Street,Philadelphia,Philadelphia,PA,Brown,Compact
6,Store No. 7,839 Main Street,Pittsburgh,Allegheny,PA,White,Modern
7,Store No. 8,651 Main Street,New Orleans,Orleans,LA,Williams,Original
8,Store No. 9,912 Main Street,Seattle,King,WA,Stuber,Compact
9,Store No. 10,752 Main Street,Dallas,Dallas,TX,Merz,Modern
10,Store No. 11,55 Main Street,Cincinnati,Hamilton,OH,Erickson,Original
11,Store No. 12,546 Main Street,Minneapolis,Hennepin,MN,Kalman,Compact
12,Store No. 14,968 Main Street,Phoenix,Maricopa,AZ,Strehlo,Original
13,Store No. 15,228 Main Street,Denver,Denver,CO,Ollom,Compact
14,Store No. 16,333 Main Street,St. Louis,St. Louis,MO,Mantle,Modern
15,Store No. 17,764 Main Street,Washington,DC,DC,Mays,Original
16,Store No. 18,253 Main Street,Miami,Dade,FL,Maris,Compact
17,Store No. 19,999 Main Street,Boston,Suffolk,MA,Ruth,Modern
18,Store No. 20,160 Main Street,Nashville,Davidson,TN,Cobb,Original

### Question 4

In [6]:
cur.close()
conn.close()

In [7]:
conn = sqlite3.connect(db)

Si la table "EMPLOYE" est présente dans la base de données, il faut la supprimer, puis enregistrer la base de données et relancer le NoteBook.

In [8]:
cur = conn.cursor()
cur.execute('''CREATE TABLE EMPLOYE
    (NOM TEXT PRIMARY KEY,AGE INTEGER NOT NULL);''')

### Question 5

In [9]:
cur = conn.cursor()
cur.execute("""INSERT INTO EMPLOYE (NOM,AGE) VALUES ('toto',25);""")

### Question 6

In [10]:
cur = conn.cursor()
cur.execute("SELECT * FROM EMPLOYE")
while True:
    results_db = cur.fetchone()
    if results_db == None:
        break
    else:
        print(results_db)

('toto', 25)

La mise à jour n'est pas visible dans "DB BROWSER"

### Question 7

In [11]:
conn.commit() #Permet de rendre la mise à jour permanente

### Question 8

In [12]:
nom = input('Entrez votre nom : ')
age = input('Entrez votre age : ')

cur = conn.cursor()
cur.execute("""INSERT INTO EMPLOYE (NOM,AGE) VALUES (?,?)""", (nom,age))
conn.commit()

Entrez votre nom : ESDRAS
Entrez votre age : 24

### Question 9

In [13]:
etat = input('Saisir un etat : ')

cur = conn.cursor()
cur.execute('''SELECT * FROM MAGASIN WHERE ETAT=?''',(etat,))
results_etat = cur.fetchall()
print(results_etat)

Saisir un etat : CA
[('Store No. 4', '575 Main Street', 'Los Angeles', 'Los Angeles', 'CA', 'Johnson', 'Modern'), ('Store No. 5', '123 Main Street', 'San Francisco', 'San Francisco', 'CA', 'Green', 'Original')]